﻿@using DemoWebsite.Models
@model ProductViewModel


  @*<a href="#"><i class="fa fa-shopping-cart">&nbsp;<b id="cartItemCount">@Model.ProductID</b></i></a>*@
<a href="#"><i class="fa fa-shopping-cart">&nbsp;<b id="cartItemCount">@Session["CartItems"]</b></i></a>

