﻿@model DemoWebsite.Models.UltimateViewModel
@using System.Configuration

@foreach (var item in Model.ProductDetails)
{

  <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 mix isolation">
    <div class="portfolio-item">
        <img width="100" height="668" src="@Url.Content(ConfigurationManager.AppSettings["WebsiteBaseurl"]+""+item.ImagePath)" />
        <div class="overlay">
            <div class="icon">
                <span style="color:#ffbb02"><b>@item.ProductName</b></span><br />
                <a href="@item.ImagePath" width="100" height="668" class="lightbox"><i class="icon-magnifier right"></i></a>
            </div>
        </div>
        <div class="content">
            @*<h5><button class="btn-effect" style="color:black; float:left; margin-left:20%;">View Product</button></h5>*@
            <label>@Html.ActionLink("View Product", "ViewProduct", "Products", new { productId = item.ProductID }, htmlAttributes: new { @id = @item.ProductID, @class = "btn btn-ghost btn-lg" })</label>            
            @if (Request.IsAuthenticated)
            {
                
                <label><a class="btn btn-lg btn-ghost addedCart" onclick="AddToCartAuthenticateUser('@item.ProductID',this)">Add To Cart&nbsp;<span class="fa fa-shopping-cart"></span></a></label>



            }
            else
            {
                <label><a class="btn btn-ghost btn-lg addedCart" onclick="AddToCart('@item.ProductID',this)">Add To Cart&nbsp;<span class="fa fa-shopping-cart"></span></a></label>
            }            
        </div>
    </div>      
  </div>
}