﻿@model DemoWebsite.Models.UltimateViewModel

@using System.Configuration

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid rest-body">
    <div class="content-wrapper">
        <div class="item-container">
            <div class="container">
                <div class="row">
                <div class="col-md-7">                                            
                        <div class="container service1-items col-sm-3 col-md-3 pull-left">
                            <center>
                                <a id="item-1" class="service1-item">                                                                        
                                    <img src="@Url.Content(ConfigurationManager.AppSettings["WebsiteBaseurl"] + "" + Model.productDetail.ImagePath)" alt=""/>
                                </a>
                                <a id="item-2" class="service1-item">
                                    <img src="@Url.Content(ConfigurationManager.AppSettings["WebsiteBaseurl"] + "" + Model.productDetail.ImagePath)" alt="" />
                                </a>
                                <a id="item-3" class="service1-item">
                                    <img src="@Url.Content(ConfigurationManager.AppSettings["WebsiteBaseurl"] + "" + Model.productDetail.ImagePath)" alt="" />
                                </a>
                            </center>
                        </div>                    
                       <div class="product col-md-8 service-image-left">

                           <center>
                               <img id="item-display" src="@Url.Content(ConfigurationManager.AppSettings["WebsiteBaseurl"] + "" + Model.productDetail.ImagePath)" alt=""/>
                           </center>
                       </div>
                </div>

                <div class="col-md-4">
                    <div class="product-title">@Model.productDetail.ProductName</div>
                    @*<div class="product-desc"></div>*@
                    <div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>                    
                    <div class="product-price">Rs @Model.productDetail.UnitPrice</div>
                    <div class="product-stock">In Stock</div>                    
                    <div class="btn-group cart">            
                        <label><a href="#" class="addProductToCart btn btn-success btn-lg" data-productId=@Model.productDetail.ProductID>Add To Cart&nbsp;<span class="fa fa-shopping-cart"></span></a></label>
                        <label><a href="@Url.Action("Index", "Cart")" class="btn btn-danger">Go to Cart</a></label>
                            @*@if (Request.IsAuthenticated)
            {
                <label><a class="btn btn-lg btn-success addedCart" onclick="AddToCartAuthenticateUser('@Model.productDetail.ProductID',this)">Add To Cart&nbsp;<span class="fa fa-shopping-cart"></span></a></label>
            }
            else
            {
                <label><a class="btn btn-success btn-lg addedCart" onclick="AddToCart('@Model.productDetail.ProductID',this)">Add To Cart&nbsp;<span class="fa fa-shopping-cart"></span></a></label>
            }*@
</div>
                    @*<div class="btn-group wishlist">
                        <button type="button" class="btn btn-danger">
                            Add to wishlist
                        </button>
                    </div>*@
                </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-md-12 product-info">
                <ul id="myTab" class="nav nav-tabs nav_tabs">

                    <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
                    <li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>
                    <li><a href="#service-three" data-toggle="tab">REVIEWS</a></li>

                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="service-one">

                        <section class="container product-info">
                            @Model.productDetail.Description

                            @*<h3>@Model.ProductName Features:</h3>
                            <li>It supports the latest ATX12V v2.3 standard and is backward compatible with ATX12V 2.2 and ATX12V 2.01 systems</li>
                            <li>An ultra-quiet 140mm double ball-bearing fan delivers great airflow at an very low noise level by varying fan speed in response to temperature</li>
                            <li>80Plus certified to deliver 80% efficiency or higher at normal load conditions (20% to 100% load)</li>
                            <li>0.99 Active Power Factor Correction provides clean and reliable power</li>
                            <li>Universal AC input from 90~264V — no more hassle of flipping that tiny red switch to select the voltage input!</li>
                            <li>Extra long fully-sleeved cables support full tower chassis</li>
                            <li>A three year warranty and lifetime access to Corsair’s legendary technical support and customer service</li>
                            <li>Over Current/Voltage/Power Protection, Under Voltage Protection and Short Circuit Protection provide complete component safety</li>
                            <li>Dimensions: 150mm(W) x 86mm(H) x 160mm(L)</li>
                            <li>MTBF: 100,000 hours</li>
                            <li>Safety Approvals: UL, CUL, CE, CB, FCC Class B, TÜV, CCC, C-tick</li>*@                                                      
                        </section>

                    </div>
                    <div class="tab-pane fade" id="service-two">

                        <section class="container">
                            <h3>@Model.productDetail.ProductName Features:</h3>
                            <ul>
                                @*<li>Model No. - @Model.productDetail.ModelNumber</li>*@
                                <li>Capacity - @Model.productDetail.Capacity</li>
                                <li>Weight - @Model.productDetail.Weight</li>
                                <li>Dimension Approx - @Model.productDetail.DimensionApprox</li>
                                <li>Chassis - @Model.productDetail.Chassis</li>
                                <li>Mobility - @Model.productDetail.Mobility</li>
                                <li>HppCylinders - @Model.productDetail.HppCylinders</li>
                            </ul>
                        </section>

                    </div>
                    <div class="tab-pane fade" id="service-three">
                        Reviews will be included soon.
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

