﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmailOTPToUser</title>
</head>
<body>
    <div>
        <p>
            Hi, {UserName}
        </p>
        <p>
            Greetings!
        </p>
        <p>
            You are just a step away from accessing your Spark-Tech account
        </p>
        <p>
            We are sharing a verification code to access your account. The code is valid for 10 minutes and usable only once.
        </p>
        <p>
            This is to ensure that only you have access to your account.
        </p>
        <p>
            Your OTP: <b>{BodyContent}</b>
            Expires in: 10 minutes only
        </p>
        <p>
            Best Regards,
            Team Spark-Tech
        </p>
        <p style="font-size:12.8px">
            <span lang="EN-US" style="font-size:10pt;font-family:Calibri,sans-serif;color:gray">
                CONFIDENTIALITY NOTICE: This e-mail and any files transmitted with it are for the sole use of the intended recipient(s) and may contain confidential and privileged information. If you are not the intended recipient, please contact the sender by reply e-mail and destroy all copies and the original message. Any unauthorized review, use, disclosure, dissemination,forwarding, printing or copying of this email or any action taken in reliance on this e-mail is strictly prohibited and unlawful.
            </span>
        </p>
    </div>
</body>
</html>
