﻿@model DemoWebsite.Models.UltimateViewModel
@using System.Configuration;

@using System.Security.Claims
@{
    var displyName = string.Empty;
    if (Request.IsAuthenticated)
    {
        var identity = (ClaimsIdentity)User.Identity;
        displyName = identity.FindFirst(ClaimTypes.Name).Value;
    }
    else
    {
        displyName = "Guest";
    }
        
}

@if (Model.ProductDetails.Count() == 0)
{
    <div>       
        <img src="~/Content/assets/img/empty-cart.png" />
    </div>
}
else
{
    <div class="row">
        <h3>Cart Details</h3>
        @*<p>@displyName , your listed cart items..</p>*@
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>               
                    @foreach (var v in Model.ProductDetails.OrderBy(a=> a.ProductID))
                        {

                            var tempIdDelete = v.ProductID + "H";
                            var tempIdPrice = v.ProductID + "P";
                            var tempIdQuantity = v.ProductID + "Q";
                            int tempQuantity = 0;
                            double tempSubtotal = 0;

                        //var _CategoryName = Model.ProductCategoryList.FirstOrDefault(x => x.CategoryID == v.CategoryID).CategoryName;
                        //var _Thumbnail = Model.ProductImagesList.FirstOrDefault(x => x.productID == v.ProductID).productThumbnail;

                    <tr class="@v.ProductID">
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left" href="#"> <img class="media-object" src="@Url.Content(ConfigurationManager.AppSettings["WebsiteBaseurl"] + "" + v.ImagePath)" style="width: 72px; height: 72px;"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">&nbsp;@v.ProductName</a></h4>
                                    <span>&nbsp;Status: </span><span class="text-success"><strong>In Stock</strong></span>
                                </div>
                            </div>
                        </td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            @foreach (var viewCart in Model.productViewForCart)
                            {
                                if(viewCart.ProductID==v.ProductID)
                                {
                                    tempQuantity = viewCart.ProductQty;
                                    tempSubtotal = viewCart.SubTotal;

                                }
                            }
                            <input type="email" class="form-control" id="exampleInputEmail1" value="@tempQuantity">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>@v.UnitPrice</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>@tempSubtotal</strong></td>
                        <td class="col-sm-1 col-md-1">
                            <button type="button" class="btn btn-danger @tempIdDelete" >
                                <span class="glyphicon glyphicon-remove"></span> Remove
                            </button>
                            <script>

                                    $(document).ready(function (c) {

                                        $('.@tempIdDelete').on('click', function (c) {
                                            $(".containerForLoader").show();
                                            $.ajax({
                                                url: "/DemoWebsite/Cart/DeleteProductFromCart",
                                                method: "POST",
                                                data: JSON.stringify({ id : @v.ProductID }),
                                                contentType: "application/json; charset=utf-8",
                                                dataType: "json",
                                                cache: false,
                                                success: function (data) {
                                                    $(".containerForLoader").hide();
                                                    $('.@v.ProductID').fadeOut('slow', function (c) {
                                                        $('.@v.ProductID').remove();
                                                    });
                                                    $("#CartItemsValue").text(data.Count);

                                                    $(".subTotal").text(data.Subtotal);
                                                    $(".subTotalPlus").text(data.SubtotalPlus)
                                                    
                                                }                                                
                                            });

                                        });

                                    });

                            </script>

                        </td>

                    </tr>
                    
                    }
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right"><h5><strong class="subTotal">@TempData["subTotalForAllProduct"]</strong></h5></td>
                        
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Estimated shipping</h5></td>
                        <td class="text-right"><h5><strong>Rs 5000</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong class="subTotalPlus">@TempData["subTotalPlus"] </strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <button type="button" class="btn btn-default"  onclick="location.href='@Url.Action("Index", "Products")'" >
                                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                            </button>
                        </td>
                        <td>
                            @if (Request.IsAuthenticated)
                            {
                                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Index", "Checkout")'">
                                    Checkout <span class="glyphicon glyphicon-play"></span>
                                </button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Login", "UsersLogin")'">
                                    Checkout <span class="glyphicon glyphicon-play"></span>
                                </button>
                            }
                            
                        </td>
                    </tr>              
            </table>
        </div>
    </div>


  
}                           