﻿@model DemoWebsite.Models.UserRegistration


<div class="container-fluid" id="registerForm">
    <div class="page-header">
        <h1>Checkout</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="well">
                Fill your Details
            </div>
            @*<div class="checkbox">
                    <label data-toggle="collapse" data-target="#promo">
                        <input type="checkbox"> I have a promo code
                    </label>
                </div>
                <div class="collapse" id="promo">
                    <div class="form-group">
                        <label for="inputpromo" class="control-label">Promo Code</label>
                        <div class="form-inline">
                            <input type="text" class="form-control" id="inputpromo" placeholder="Enter promo code">
                            <button class="btn btn-sm">Apply</button>
                        </div>
                    </div>
                </div>*@
            @Html.AntiForgeryToken()
            <h3>Ship my order to&hellip;</h3>
            <div class="list-group">
                @*@if(Model.City != null || Model.City != "")
                {
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <div class="row radio">
                            <div class="col-xs-3">
                                <label>
                                    <input type="radio" name="optionShipp" id="optionShipp1" value="option2">
                                    1509 Latona St
                                </label>
                            </div>
                            <div class="col-xs-5">
                                <dl class="dl-small">
                                    <dt>Miguel Perez</dt>
                                    <dd>1509 Latona St, Philadelphia, PA 19146 </dd>
                                </dl>
                                <button class="btn btn-sm">Edit</button>
                                <button class="btn btn-sm btn-link">Delete this address</button>
                            </div>
                        </div>
                    </div>
                </div>
                }*@
                
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionShipp" id="optionShipp2" value="option2" checked>
                                        Your Address
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                @*<form role="form" class="">*@
                                    @*<div class="form-group">
                                        <label for="firstname">Name</label>
                                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control form-control-large", @required = "required" , id = "firstname" } })
                                        @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })                                        
                                    </div>*@
                                    <div class="form-group">
                                        <label for="street">Street</label>
                                        @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control form-control-large", @required = "required", id = "street",type="text" } })
                                        @*@Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })*@                                       
                                        
                                    </div>
                                    <div class="form-group">                                        
                                        <label for="city">City</label>
                                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control form-control-large", @required = "required", id = "city", type = "text" } })                                        
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <label for="pin">ZIP Code</label>
                                                @Html.EditorFor(model => model.PinCode, new { htmlAttributes = new { @class = "form-control form-control-small", @required = "required", id = "pin" } })                                                                                                
                                            </div>
                                        </div>                                       
                                    </div>
                                    <div class="form-group">
                                        <label for="inputState" class="control-label">State</label>
                                        <select class="form-control form-control-large" name="shipState" id="state">
                                            <option>Select state</option>
                                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                            <option value="Assam">Assam</option>
                                            <option value="Bihar">Bihar</option>
                                            <option value="Chandigarh">Chandigarh</option>
                                            <option value="Chhattisgarh">Chhattisgarh</option>
                                            <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                            <option value="Daman and Diu">Daman and Diu</option>
                                            <option value="Delhi">Delhi</option>
                                            <option value="Goa">Goa</option>
                                            <option value="Gujarat">Gujarat</option>
                                            <option value="Haryana">Haryana</option>
                                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                            <option value="Jharkhand">Jharkhand</option>
                                            <option value="Karnataka">Karnataka</option>
                                            <option value="Kerala">Kerala</option>
                                            <option value="Lakshadweep">Lakshadweep</option>
                                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                                            <option value="Maharashtra">Maharashtra</option>
                                            <option value="Manipur">Manipur</option>
                                            <option value="Meghalaya">Meghalaya</option>
                                            <option value="Mizoram">Mizoram</option>
                                            <option value="Nagaland">Nagaland</option>
                                            <option value="Orissa">Orissa</option>
                                            <option value="Pondicherry">Pondicherry</option>
                                            <option value="Punjab">Punjab</option>
                                            <option value="Rajasthan">Rajasthan</option>
                                            <option value="Sikkim">Sikkim</option>
                                            <option value="Tamil Nadu">Tamil Nadu</option>
                                            <option value="Tripura">Tripura</option>
                                            <option value="Uttaranchal">Uttaranchal</option>
                                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                                            <option value="West Bengal">West Bengal</option>
                                        </select>
                                    </div>
                                @*</form>*@
                                @*<button class="btn btn-sm">Save Address</button>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<form role="form">
                    <div class="checkbox">
                        <label data-toggle="collapse" data-target="#gift">
                            <input type="checkbox"> I'd like to include a gift message
                        </label>
                    </div>
                    <div class="form-group collapse" id="gift">
                        <label for="inputGift" class="control-label">Gift Message</label>
                        <textarea class="form-control form-control-large" rows="3"></textarea>
                        <p class="help-block">256 characters left</p>
                    </div>
                </form>*@
            @*<h3>I'll pay with&hellip;</h3>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <div class="row radio">
                            <div class="col-xs-3">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked>
                                    My Visa Card
                                </label>
                            </div>
                            <div class="col-xs-9">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <dl class="dl-small">
                                            <dt>Credit Card Number</dt>
                                            <dd>**********1111</dd>
                                        </dl>
                                    </div>
                                    <div class="col-xs-2">
                                        <dl class="dl-small">
                                            <dt>Expiration</dt>
                                            <dd>07/2016</dd>
                                        </dl>
                                    </div>
                                    <div class="col-xs-6">
                                        <dl class="dl-small">
                                            <dt>Billing Address</dt>
                                            <dd>1509 Latona St, Philadelphia, PA 19146 </dd>
                                        </dl>
                                    </div>
                                </div>
                                <button class="btn btn-sm">Edit</button>
                                <button class="btn btn-sm btn-link">Delete this card</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <div class="row radio">
                            <div class="col-xs-3">
                                <label data-toggl-e="collapse" data-target="#newcard">
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                    A New Credit Card
                                </label>
                            </div>
                            <div class="col-xs-9">
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <img src="https://lovewithfood.com/assets/credit_cards/cards-b3a7c7b8345355bf110ebedfd6401312.png" height="25" alt="" />
                                    </a>
                                    <div class="media-body" id="newcard">
                                        We accept these credit cards.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <div class="row radio">
                            <div class="col-xs-3">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                    PayPal
                                </label>
                            </div>
                            <div class="col-xs-9">
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <img src="https://www.paypalobjects.com/webstatic/mktg/logo-center/PP_Acceptance_Marks_for_LogoCenter_76x48.png" height="25" alt="" />
                                    </a>
                                    <div class="media-body">
                                        When you click "Place Order", you will be taken to the PayPal website.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="well">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Place Order</button>
            </div>
        </div>
    </div>
</div>
