﻿@model DemoWebsite.Models.UltimateViewModel

<div class="container" id="registerForm">
        <div class="row marketing">

            <div class="col-lg-12">                
                <hr />
                <div>
                    <center>
                        <h4>Success - your order is confirmed!</h4>
                        <h5>Order number: @TempData["orderNo"]</h5>
                        <hr />
                    </center>
                </div>
                
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-6">
                            <address>
                                <strong>Shipping Details:</strong><br>
                                @Model.userRegistration.FirstName @Model.userRegistration.LastName<br>
                                @Model.userRegistration.Email<br>
                                @Model.userRegistration.PhoneNumber<br>
                                <strong>Address</strong><br>
                                @Model.userRegistration.Street,@Model.userRegistration.City,<br>
                                @Model.userRegistration.PinCode,@Model.userRegistration.State,<br>
                                @Model.userRegistration.Country                                 
                            </address>
                        </div>
                        <div class="col-xs-6 text-right">
                            <h1><span class="glyphicon glyphicon glyphicon-cloud-download" aria-hidden="true"></span></h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <center>
                                <p>
                                    <span class="glyphicon glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                    Your Order Details
                                </p>
                            </center>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <td><strong>Product Name</strong></td>
                                            <td class="text-right"><strong>Product Options</strong></td>
                                            <td class="text-right"><strong>Quantity</strong></td>
                                            <td class="text-right"><strong>Price</strong></td>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- foreach ($order->lineItems as $line) or some such thing here -->                                        
                                        @foreach (var item in Model.ProductDetails.ToList())
                                        {
                                            var tempQuantity = Model.productViewForCart.Where(a => a.ProductID == item.ProductID).FirstOrDefault().ProductQty;
                                            var tempPrice = Model.productViewForCart.Where(a => a.ProductID == item.ProductID).FirstOrDefault().SubTotal;
                                            <tr>
                                                <td> @item.ProductName </td>
                                                <td class="text-right"> @item.Chassis </td>
                                                <td class="text-right"> @tempQuantity </td>
                                                <td class="text-right"> @tempPrice </td>
                                            </tr>
                                        }                                           
                                        @*<tr>
                                            <td class="thick-line"></td>
                                            <td class="thick-line"></td>
                                            <td class="thick-line text-right"><strong>VAT - 12%</strong></td>
                                            <td class="thick-line text-right">incl.</td>
                                        </tr>*@
                                        <tr>
                                            <td class="no-line"></td>
                                            <td class="no-line"></td>
                                            <td class="no-line text-right"><strong>Shipping</strong></td>
                                            <td class="no-line text-right">incl. Rs 5000</td>
                                        </tr>
                                        <tr>
                                            <td class="no-line"></td>
                                            <td class="no-line"></td>
                                            <td class="no-line text-right"><strong>Total</strong></td>
                                            <td class="no-line text-right">@TempData["subTotalPlus"]</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>