﻿
@model DemoWebsite.Models.UserRegistration

<style>
    .error {
        font-size: 13px;
        margin-left: 10px;
    }
</style>

@using (Html.BeginForm("Login","UsersLogin",FormMethod.Post, new { id = "registerForm" }))
{
    <div class="rest-body">
        @Html.Partial("_Login", Model)
    </div>    
}
