﻿@using DemoWebsite.Models
@model EmailViewModel
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="section-heading">CONTACT <b>US</b></h2>
                <hr class="primary">
                <p id="contactMessage">
                    Ready to start your experience with us? That's great! Send us an email and we will get back to you as soon as possible!
                </p>
                <div id="emailSentSuccess" class="regularform">
                    <div class="success" style="display:none">
                        <div class="alert alert-success">
                            <button type="button" class="close closeEmailSentSuccess" @*data-dismiss="alert"*@>×</button>
                            Your message has been sent. Thank you, We will get back to you as soon as possible!
                        </div>
                    </div>
                    <div id="sentEmailError" class="error" style="display:none">
                        <div class="alert alert-danger">
                            <button type="button" class="close closeSentEmailError" @*data-dismiss="alert"*@>×</button>
                            Your message not sent. Please Try Again After Some Time...
                        </div>
                    </div>
                    <div id="nameError" class="error" style="display:none">
                        <div class="alert alert-danger">
                            <button type="button" class="close closeNameError" @*data-dismiss="alert"*@>×</button>
                            Name Field can not be empty!
                        </div>
                    </div>
                    <div id="emailError" class="error" style="display:none">
                        <div class="alert alert-danger">
                            <button type="button" class="close closeEmailError" @*data-dismiss="alert"*@>×</button>
                            Email Field can not be empty!
                        </div>
                    </div>
                    <div id="emailValidationError" class="error" style="display:none">
                        <div class="alert alert-danger">
                            <button type="button" class="close closeEmailValidationError" @*data-dismiss="alert"*@>×</button>
                            Email is not valid please enter a valid email-address!
                        </div>
                    </div>
                    <div id="messageError" class="error" style="display:none">
                        <div class="alert alert-danger">
                            <button type="button" class="close closeMessageError" @*data-dismiss="alert"*@>×</button>
                            Message Field can not be empty!
                        </div>
                    </div>
                    <input id="userName" name="name" type="text" class="col-md-6 norightborder" placeholder="Your Name *">
                    <input id="userEmail" name="email" type="text" class="col-md-6" placeholder="E-mail address *">
                    <textarea id="userComment" name="comment" class="col-md-12" placeholder="Message *"></textarea>
                    <input type="button" id="submit" class="btn btn-primary bgn-xl wow zoomIn" value="Send message">
                </div>
            </div>
        </div>
    </div>
    @*<div class="modal fade" id="alertModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Please Verify Your Credentials</h4>
                    </div>
                    <div class="modal-body">
                        <p>Enter OTP&hellip;</p>
                        <input type="password" maxlength="6" name="otp" value="password" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Resend OTP</button>
                        <button type="button" class="btn btn-primary">Verify</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>*@<!-- /.modal -->
</section>
<script>
    var nameVal;
    var emailVal;
    var bodyContentVal;
    var flag = false;

    //close all error message popup on click of cancel icon
    $(".closeEmailSentSuccess").click(function ()
    {
        $('#emailSentSuccess').css("display", "none");
    });
    $(".closeMessageError").click(function ()
    {
        $('#messageError').css("display", "none");
    });
    $(".closeNameError").click(function ()
    {
        $('#nameError').css("display", "none");
    });
    $(".closeEmailError").click(function ()
    {
        $('#emailError').css("display", "none");
    });
    $(".closeEmailValidationError").click(function ()
    {
        $('#emailValidationError').css("display", "none");
    });
    $(".closeSentEmailError").click(function ()
    {
        $('#sentEmailError').css("display", "none");
    });

    //validate user email-id using regular expressions
    function validateEmail(email) {
        var re = /^(([^<>()[\]\\.,;:\s\"]+(\.[^<>()[\]\\.,;:\s\"]+)*)|(\".+\"))((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }

    //validate user email-id
    function validate(emailVal) {
        if (validateEmail(emailVal)) {
            flag = true;
        } else {
            flag = false;
        }
        return flag;
    }

    //hide all fields of contact related messages
    function hideFields() {
        $('#userName').css("display", "none");
        $('#userEmail').css("display", "none");
        $('#userComment').css("display", "none");
        $('#submit').css("display", "none");
        $('#contactMessage').css("display", "none");
        $('#messageError').css("display", "none");
        $('#nameError').css("display", "none");
        $('#emailError').css("display", "none");
        $('#emailValidationError').css("display", "none");
    }

    //sent an email to support team containg user message
    function sendAnEmailToSupportTeam(nameVal, emailVal, bodyContentVal)
    {
        $.ajax({
            url: "@Url.Action("SendEmail", "Email")",
            data: { userName: nameVal, userEmail: emailVal, emailBodyContent: bodyContentVal },
            type: "POST",
            success: function (result) {
                $("#ajaxloader").hide();
                if (result == "Unsuccessful") {
                    hideFields();
                    $('#sentEmailError').css("display", "block");
                    return;
                }
                else {
                    hideFields();
                    $('.success').css("display", "block");
                    return;
                }
            }
        });
    }

    //send otp to user to verify credentials
    function sendOtpToUser(nameVal, emailVal) {
        $.ajax({
            url: "@Url.Action("SendOTPEmail", "Email")",
            data: { userName: nameVal, userEmail: emailVal },
            type: "POST",
            success: function (result) {
                $("#ajaxloader").hide();
                if (result == "Unsuccessful") {
                    hideFields();
                    $('#sentEmailError').css("display", "block");
                    return;
                }
                else {
                    $("#myModal").modal({                    // wire up the actual modal functionality and show the dialog
                        "backdrop": "static",
                        "keyboard": true,
                        "show": true                     // ensure the modal is shown immediately
                    });
                    return;
                }
            }, // end of success
            error: function () {
                $('#sentEmailError').css("display", "block");
                return;
            }
        });
    }

    //on click get otp for user email verification
    $("#submit").click(function () {
        debugger;
        nameVal = $("#userName").val();
        emailVal = $("#userEmail").val();
        bodyContentVal = $("#userComment").val();

        if (nameVal == "") {
            $('#userName').css("display", "block");
            $('#userEmail').css("display", "block");
            $('#userComment').css("display", "block");
            //error popups
            $('#nameError').css("display", "block"); //show
            $('#messageError').css("display", "none");
            $('#emailError').css("display", "none");
            $('#emailValidationError').css("display", "none");
            return;
        }
        else if (emailVal == "")
        {
            $('#userName').css("display", "block");
            $('#userEmail').css("display", "block");
            $('#userComment').css("display", "block");
            //error popups
            $('#nameError').css("display", "none");
            $('#messageError').css("display", "none");
            $('#emailError').css("display", "block"); //show
            $('#emailValidationError').css("display", "none");
            return;
        }
        else if (bodyContentVal == "") {
            $('#userName').css("display", "block");
            $('#userEmail').css("display", "block");
            $('#userComment').css("display", "block");
            //error popups
            $('#nameError').css("display", "none");
            $('#messageError').css("display", "block"); //show
            $('#emailError').css("display", "none");
            $('#emailValidationError').css("display", "none");
            return;
        }
        else
        {
            flag = validate(emailVal);
            if (flag == true) {
                hideFields();
                $("#ajaxloader").show();
                sendOtpToUser(nameVal, emailVal);
                return;
            }
            else {
                $('#userName').css("display", "block");
                $('#userEmail').css("display", "block");
                $('#userComment').css("display", "block");
                //error popups
                $('#nameError').css("display", "none");
                $('#messageError').css("display", "none");
                $('#emailError').css("display", "none");
                $('#emailValidationError').css("display", "block"); //show
                return;
            }
        }
    });
</script>
