﻿@using System.Configuration

@{ 
    var dsjhf = ConfigurationManager.AppSettings["WebsiteBaseurl"];
}


<div id="carousel-example-generic" class="carousel intro slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <!-- First slide -->
        <div class="item active" style="background-image:url(Content/assets/img/engineering_mechanical_3042380_cropped.jpg)">
            <div class="carousel-caption">                
                <h2 data-animation="animated bounceInDown">
                    Design
                </h2>
                @*<h1 data-animation="animated bounceInUp">
                        "REGISTER"
                    </h1>*@
                @*<a href="registration.php" class="btn btn-ghost btn-lg" data-animation="animated fadeInLeft">REGISTRATION</a>
                    <a href="login.php" class="btn btn-primary btn-lg" data-animation="animated fadeInRight">LOGIN</a>*@
                @*<label>@Html.ActionLink("Register", "Create", "UserRegistrations", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-ghost btn-lg" })</label>
                <label>@Html.ActionLink("Log in", "Login", "UsersLogin", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-lg" })</label>*@
            </div>
        </div>
        <!-- /.item -->
        <!-- Second slide -->
        <div class="item" style="background-image:url(Content/assets/img/civil-engineering-and-electrical-engineering-silicon-ec.jpg)">
            <div class="carousel-caption">
                <h2 data-animation="animated zoomInLeft">
                    Machine
                </h2>
                @*<h1 data-animation="animated zoomInRight">
                        "Order"
                    </h1>*@
                @*<label>@Html.ActionLink("Register", "Create", "UserRegistrations", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-ghost btn-lg" })</label>
                <label>@Html.ActionLink("Log in", "Login", "UsersLogin", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-lg" })</label>*@
            </div>
        </div>
        <!-- /.item -->
        <!-- Third slide -->
        <div class="item" style="background-image:url(Content/assets/img/5448149-brick-wall.jpg)">
            <div class="carousel-caption">
                <h2 data-animation="animated bounceInLeft">
                    Solid Bricks
                </h2>
                @*<h1 data-animation="animated bounceInRight">
                        "VOTE"
                    </h1>*@
                @*<label>@Html.ActionLink("Register", "Create", "UserRegistrations", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-ghost btn-lg" })</label>
                <label>@Html.ActionLink("Log in", "Login", "UsersLogin", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-lg" })</label>*@
            </div>
        </div>
        <!-- /.item -->
    </div>
    <!-- /.carousel-inner -->
    <!-- Controls (currently displayed none from style.css)-->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
