﻿<footer>
    <div class="container">
        <div class="row footer-widgets">
            <!-- Start Contact Widget -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget contact-widget">
                    <h4>
                        <img src="~/Content/assets/img/FlyAsh/ahmed-logo.png" class="img-responsive" alt="Footer Logo" />
                    </h4>
                    <p>
                        We are one of the leading Fly Ash Brick Making Machine manufacturers for last ten years, and there are 1200 successful units in all over India.
                    </p>
                </div>
            </div>
            <!-- End Contact Widget -->
            <!-- Start latest Work Posts Widget -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget flickr-widget">
                    <h4>
                        Latest Work
                    </h4>
                    <ul class="flickr-list">
                        <li>
                            <a href="~/Content/assets/img/work/img-1.jpg" class="lightbox">
                                <img alt="" src="~/Content/assets/img/work/img-1.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="~/Content/assets/img/work/img-2.jpg" class="lightbox">
                                <img alt="" src="~/Content/assets/img/work/img-2.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="~/Content/assets/img/work/img-3.jpg" class="lightbox">
                                <img alt="" src="~/Content/assets/img/work/img-3.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="~/Content/assets/img/work/img-4.jpg" class="lightbox">
                                <img alt="" src="~/Content/assets/img/work/img-4.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="~/Content/assets/img/work/img-5.jpg" class="lightbox">
                                <img alt="" src="~/Content/assets/img/work/img-5.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="~/Content/assets/img/work/img-6.jpg" class="lightbox">
                                <img alt="" src="~/Content/assets/img/work/img-6.jpg">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End latest Work  Widget -->
            <!-- Start Address Widget -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget">
                    <h4>
                        SparkTech Industries
                    </h4>
                    <ul class="address">
                        <li>
                            <a href="#"><i class="fa fa-map-marker"></i> A-02, Amrapali Vananchal City, Industrial Area, Bhilai, Durg, Chhattishgarh. 490026.</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-phone"></i> (+91) 7869865984, (+91) 7024867804, (+91) 8827082404</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-envelope"></i> sparktech009@gmail.com</a>
                        </li>
                        @*<li>
                                <a href="#"><i class="fa fa-fax"></i> FAX:(224) 224-1234</a>
                            </li>*@
                    </ul>
                </div>
            </div>
            <!-- End Address Widget -->
            <!-- Start Text Widget -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget hours-widget">
                    <h4>
                        Business Hours
                    </h4>
                    <div class="contact-info">
                        <p>Our support available to help you 24 hours a day, seven days a week.</p>
                        <ul class="hours">
                            <li>Monday-Friday: <span>9am to 5pm</span></li>
                            <li>Saturday-Sunday: <span>10am to 3pm</span></li>
                            @*<li>: <span>Closed</span></li>*@
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Text Widget -->
        </div>
        <!-- .row -->
    </div>
</footer>
