﻿<section class="no-padding">
    <div class="col-md-4 bg-primary no-padding teambox">
        <div class="team-thumb overlay-image view-overlay">
            <img src="../../files/img/background/Election Commissioner of India/Syed Nasim Ahmad Zaidi.jpg" alt="" class="img-responsive">
            <div class="mask team_quote">
                <div class="port-zoom-link">
                    <p>
                        Syed Nasim Zaidi is the incumbent Chief Election Commissioner of India.<br>
                        He is a retired I.A.S. officer of 1976 batch from the Uttar Pradesh cadre.
                    </p>
                </div>
            </div>
        </div>
        <h2>SYED NASIM AHMAD ZAIDI</h2>
        <p>
            ELECTION COMMISSIONER OF INDIA
        </p>
        <div class="team-social">
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-skype"></i></a>
        </div>
    </div>
    <div class="col-md-4 bg-dark no-padding teambox">
        <div class="team-thumb overlay-image view-overlay">
            <img src="../../files/img/background/Election Commissioner of India/Achal Kumar Jyoti.jpg" alt="" class="img-responsive">
            <div class="mask team_quote">
                <div class="port-zoom-link">
                    <p>
                        Achal Kumar Jyoti is an Election Commissioner of India.<br>
                        He is a retired I.A.S. Officer in 1975 batch from the Gujarat Cadre.
                    </p>
                </div>
            </div>
        </div>
        <h2>ACHAL KUMAR JYOTI</h2>
        <p>
            ELECTION COMMISSIONER OF INDIA
        </p>
        <div class="team-social">
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-skype"></i></a>
        </div>
    </div>
    <div class="col-md-4 bg-primary no-padding teambox">
        <div class="team-thumb overlay-image view-overlay">
            <img src="../../files/img/background/Election Commissioner of India/Om Prakash Rawat.jpg" alt="" class="img-responsive">
            <div class="mask team_quote">
                <div class="port-zoom-link">
                    <p>
                        O P Rawat (Om Prakash Rawat) is an Election Commissioner of India.<br>
                        He is a former Indian Administrative Service (IAS) officer of the 1977 batch retired from active service in December, 2013.

                    </p>
                </div>
            </div>
        </div>
        <h2>OM PRAKASH RAWAT</h2>
        <p>
            ELECTION COMMISSIONER OF INDIA
        </p>
        <div class="team-social">
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-skype"></i></a>
        </div>
    </div>
</section>
<div class="clearfix">
</div>
