﻿<section id="tline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"><b>Process To Place Order</b></h2>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="tline-holder">
                    <!-- tline ITEM-->
                    <li class="tline-item-left wow fadeInLeft">
                        <div class="tline-item-content">
                            <div class="date-icon fa fa-user-plus">
                            </div>
                            <div class="tline-item-txt text-right">
                                <div class="meta">
                                </div>
                                <h3>Register</h3>
                                <p>
                                    Enter your required information & become a registered consumer to place your order in a safe and secure way to save time. 
                                    @*It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout - by ECOI.*@
                                </p>
                            </div>
                        </div>
                    </li>
                    <!-- /tline-->
                    <!-- tline-->
                    <li class="tline-item-right wow fadeInRight">
                        <div class="tline-item-content">
                            <div class="date-icon fa fa-user">
                            </div>
                            <div class="tline-item-txt text-left">
                                <div class="meta">
                                </div>
                                <h3>User Account</h3>
                                <p>
                                    Manage your account by saving product details and you can also store your information related to your - orders, wishlists.
                                    @*Manage your account,save products, Print A Booth Map For Vote.You can store your information related to your - voter id,booth .*@
                                </p>
                            </div>
                        </div>
                    </li>
                    <!-- /tline-->
                    <!-- tline-->
                    <li class="tline-item-left wow fadeInLeft">
                        <div class="tline-item-content">
                            <div class="date-icon fa fa-check">
                            </div>
                            <div class="tline-item-txt text-right">
                                <div class="meta">
                                </div>
                                <h3>Varification Before Comfirm Order </h3>
                                <p>
                                    Only carified consumers will be able to place order. Verification Is The most important part for any purchase of machine.
                                    @*Only Varified Voters Will Be Able To Vote & Become A Part Of Any Elections. Verification Is The most important part for -voting.*@
                                </p>
                            </div>
                        </div>
                    </li>
                    <!-- /tline-->
                    <!-- tline-->
                    <li class="tline-item-right wow fadeInRight">
                        <div class="tline-item-content">
                            <div class="date-icon fa fa-shopping-cart">
                            </div>
                            <div class="tline-item-txt text-left">
                                <div class="meta">
                                </div>
                                <h3>Confirm Order</h3>
                                <p>
                                    Once you will confirm the order then you will receive order and delivery details in an Email through Spark Tech product team.
                                    @*Voting is a method for a group such as a meeting or an electorate to make a decision or express an opinion—often discussions.*@
                                </p>
                            </div>
                        </div>
                    </li>
                    <!-- /tline-->
                    <li class="tline-start">
                        <div class="tline-start-content">
                            <div class="tline-start-icon">
                            </div>
                            <a href="@Url.Action("Index", "Products")" class="btn btn-primary bgn-xl wow zoomIn">Go To Shop</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div id="counter" class="section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="counter-item left-line">
                    <div class="icon">
                        <i class="icon-check">
                        </i>
                    </div>
                    <h5>
                        Completed Projects
                    </h5>
                    <hr>
                    <div class="timer" data-to="180" data-speed="5000">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="counter-item">
                    <div class="icon">
                        <i class="icon-clock">
                        </i>
                    </div>
                    <h5>
                        Hours of Work <span>/ Month</span>
                    </h5>
                    <hr>
                    <div class="timer" data-to="369" data-speed="5000">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="counter-item">
                    <div class="icon">
                        <i class="icon-trophy">
                        </i>
                    </div>
                    <h5>
                        Award Winnigs
                    </h5>
                    <hr>
                    <div class="timer" data-to="29" data-speed="5000">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="counter-item">
                    <div class="icon">
                        <i class="icon-heart">
                        </i>
                    </div>
                    <h5>
                        Satisfied Clients
                    </h5>
                    <hr>
                    <div class="timer" data-to="149" data-speed="5000">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
