﻿@model DemoWebsite.Models.UserRegistration

@Html.AntiForgeryToken()


<div class="container">
    <fieldset>
        <legend>Register</legend>
    </fieldset>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">                
                <label for="firstName">First Name<span>@ViewData["FirstName"]</span></label>                
                @Html.EditorFor(model => model.FirstName, "", new { htmlAttributes = new { @placeholder = "First Name", @class="form-control" , id = "firstName", tabindex = "1", required = "required" } })
            </div>
            <div class="form-group">
                <label for="email">Email Address<span>@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger error" })</span></label>
                @Html.EditorFor(model => model.Email, "", new { htmlAttributes = new { @placeholder = "Email Address", @class = "form-control", id = "email" , tabindex = "3",type="email", required = "required" } })
                @*<input type="email" class="form-control" id="email"  placeholder="Email Address">*@
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="contact">Contact No.<span>@Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger error" })</span></label>
                @Html.EditorFor(model => model.PhoneNumber, "", new { htmlAttributes = new { @placeholder = "Contact Number", @class = "form-control", id = "contact" , tabindex = "5",type="tel", required = "required" } })
                @*<input type="text" class="form-control" id="contact" aria-describedby="contactHelp" placeholder="Contact Number">*@
                <small id="contactHelp" class="form-text text-muted">We'll send OTP to this number for verification.</small>
            </div>          
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="lastName">Last Name<span>@ViewData["LastName"]</span></label>
                @Html.EditorFor(model => model.LastName, "", new { htmlAttributes = new { @placeholder = "Last Name", @class = "form-control", id = "lastName" , tabindex = "2" , required = "required" } })
            </div>
            <div class="form-group">
                <label for="InputPassword">Password<span>@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger error" })</span></label>
                @Html.EditorFor(model => model.Password, "", new { htmlAttributes = new { @placeholder = "Password", @class = "form-control", id = "InputPassword" ,type = "password" , tabindex = "4" , required = "required" } })
                @*<input type="password" class="form-control" id="InputPassword" placeholder="Password">*@
            </div>                        
        </div>
     </div>    
    <button type="submit" class="btn btn-primary" tabindex="6">Submit</button><br>
    <span>Already Registered? <a href="@Url.Action("Login","UsersLogin")">Login Here</a></span>
</div>

<div id="snackbar" style="background-color: #F00;">Product added in cart..</div>

@if (TempData["Error"] != null)
{
    <script type="text/javascript">
        var messageForSnackBar = "@TempData["Error"]";
        $("#snackbar").text(messageForSnackBar);
        $("#snackbar").addClass("show");
        setTimeout(function () {
            $("#snackbar").removeClass("show");
        }, 9000);
    </script>
}
